<div class="bo-wrap clr3">
    <div class="bo-footer">
        <div class="row">
            <div class="bo-footer-smap col-md-6">
            <a href="/sitemap.xml">Sitemap</a> | <a href="/policies">Website Policies</a> | <a href="/faq">FAQ</a> | <a href="/disclaimer">Disclaimer</a>
            </div>
            <div class="bo-footer-c col-md-6">
                <count>
                    Hit Counter: <%- count %>
                </count>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="bo-wrap clr4">
    <div class="bo-footer">
        <div class="bo-footer-copyright">ECrime.XYZ is not affiliated with the Government of India. It acts as a proxy to file complaints involving cyber crime.</div>
    </div>
</div>
</html>